{% include "header.html" %}
<div class ="container-fluid">
    <div class = "row" >
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="text-align: center">
            <h3>Login</h3>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class = "row" >
        <div class="col-md-2">
        </div>
        <div class="col-md-8" >
            {% if error %}
                <p><strong>{{ error }}</strong></p>
            {% endif %}
            <form action = "" method = "post">
                <div class="form-group">
                    <label for="user">Username</label>
                    <input type="text" class="form-control" id="user" placeholder="Admin Username" name = "user">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name = "password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

{% include "footer.html"%}