{% include "header.html" %}

<div class ="container-fluid">
    <div class = "row" >
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="text-align: center">
            <h2>Class <strong>{{classname}}</strong> deleted from <strong>{{quarter}}</strong>.</h2>
            <a href="http://eharris.pythonanywhere.com/deleteclass"><button type="button" class="btn btn-outline-primary">Back</button></a>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

{% include "footer.html" %}